p, label, div, table {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

div#create_account_options {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 300px;
    display: none;
    background: #fff;
}

div {
    border: 1px solid black;
}

table, td {
    border: 1px solid black;
}