<table class="table">
<thead>
<tr>
    <th>URL</th>
    <th>Username</th>
    <th>Owner</th>
    <th></th>
    <th></th>
</tr>
</thead>

{% for shared_account in user.sharedaccount_grantee_set %}

    <tr>
        <td>
            {{ shared_account.account.host_url }}
        </td>
        <td>
            {{ shared_account.account.host_username }}
        </td>

        <td>
            {{ shared_account.account.username }}
        </td>
<!--
        <td>
            <a href="#" onclick="decryptPassword('{{ shared_account.key }}')">Decrypt</a>
        </td>
-->         
        <td>
            <a href="#" onclick="loginGuest('{{ shared_account.key }}')">Log In</a>
        </td>
    </tr>

{% endfor %}

</table>
